= form_for @glossary do |f|
  - if @glossary.errors.any?
    #error_explanation
      %h2= "#{pluralize(@glossary.errors.count, "error")} prohibited this glossary from being saved:"
      %ul
        - @glossary.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :key
    = f.text_field :key
  .field
    = f.label :definition
    = f.text_field :definition
  .actions
    = f.submit 'Save'
