%h1 Listing glossaries

%table
  %thead
    %tr
      %th Key
      %th Definition
      %th
      %th
      %th

  %tbody
    - @glossaries.each do |glossary|
      %tr
        %td= glossary.key
        %td= glossary.definition
        %td= link_to 'Show', glossary
        %td= link_to 'Edit', edit_glossary_path(glossary)
        %td= link_to 'Destroy', glossary, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Glossary', new_glossary_path
