
%ul#myTab.nav.nav-tabs{role: 'tablist'}
  %li.nav-item
    %a.nav-link.active{'aria-controls': 'Comments', 'data-toggle': 'tab', href: '#commentstab', role: 'tab'}= icon('comments')
  %li.nav-item
    %a.nav-link{'aria-controls': 'relations', 'data-toggle': 'tab', href: '#relations', role: 'tab'}= icon('exchange')
  -unless @project.trello_board_id.blank? || @project.trello_list_id.blank?
    %li.nav-item
      %a.nav-link{'aria-controls': 'trello', 'data-toggle': 'tab', href: '#trello', role: 'tab'}= icon('sticky-note-o')
  %li.nav-item
    %a.nav-link{'aria-controls': 'history', 'data-toggle': 'tab', href: '#history', role: 'tab'}= icon('edit')
.tab-content
  #commentstab.tab-pane.active{role: 'tabpanel'}
    %article#comments-list
      %h5
        %strong Comentarios
      - @comments.each do |comment|
        %p
          %strong= comment.user.short_name
          \:
          = comment.body
          =link_to project_requirement_comment_path(@project, @requirement, comment), method: :delete, remote: true do
            =icon('times')

    %article#comments-form
      = render 'comments/form'

  #relations.tab-pane{role: 'tabpanel'}
    %h4
      %strong Relaciones
    %p aksjndfi
    %p asdojfj
    %p aosdjnf
    %p naopsjdfn

  -unless @project.trello_board_id.blank? || @project.trello_list_id.blank?
    #trello.tab-pane{role: 'tabpanel'}
      %h4
        %strong Trello
      .field
        %label{for: '#title'} Título
        %input#title{type: 'text', value: "#{@requirement.id_string}"}

      %br

      .field
        %label{for: '#description'} Descripción
        %textarea#description= strip_tags(@requirement.description.html_safe)

      %a.btn.btn-info#btn-trello Crear tarea trello

  #history.tab-pane{role: 'tabpanel'}
    %h4
      %strong Historial
    - history = Log.where(project_id: @project, requirement_id: @requirement)
    - history.each do |his|
      %p
        = his.operation

-unless @project.trello_board_id.blank? || @project.trello_list_id.blank?
  :javascript
    var creationSuccess = function(data) { alert('Tarjeta creada con éxito'); };
    function getNewCard(){
      var myList = "#{@project.trello_list_id}";
      return {  name: $('#title').val(),
                desc: $('#description').val(),
                idList: myList,
                pos: 'top'
              };
    }
    $("#btn-trello").click(function(e){
      e.preventDefault();
      card = getNewCard();
      console.log(card);
      Trello.post('/cards/', card, creationSuccess);
    });
