
%ul#myTab.nav.nav-tabs{role: 'tablist'}
  %li.nav-item
    %a#comments.nav-link.active{'aria-controls': 'Comments', 'data-toggle': 'tab', href: '#comments-tab', role: 'tab'}= icon('comments')
  %li.nav-item
    %a#relations.nav-link{'aria-controls': 'relations', 'data-toggle': 'tab', href: '#relations-tab', role: 'tab'}= icon('exchange')
  -unless @project.trello_board_id.blank? || @project.trello_list_id.blank?
    %li.nav-item
      %a#trello.nav-link{'aria-controls': 'trello', 'data-toggle': 'tab', href: '#trello-tab', role: 'tab'}= icon('sticky-note-o')
  %li.nav-item
    %a#history.nav-link{'aria-controls': 'history', 'data-toggle': 'tab', href: '#history-tab', role: 'tab'}= icon('edit')
.tab-content
  #comments-tab.tab-pane.active{role: 'tabpanel'}
    %section#comments-list
      %article
        %h5
          %strong Comentarios
        - @comments.each do |comment|
          %p
            %strong= comment.user.short_name
            \:
            = comment.body
            =link_to project_requirement_comment_path(@project, @requirement, comment), method: :delete, remote: true do
              =icon('times')
      %article#comments-form
        = render 'comments/form'
      %br
      %br
      %br
  #relations-tab.tab-pane{role: 'tabpanel'}
    %h4
      %strong Relaciones
    %p aksjndfi
    %p asdojfj
    %p aosdjnf
    %p naopsjdfn

  -unless @project.trello_board_id.blank? || @project.trello_list_id.blank?
    #trello-tab.tab-pane{role: 'tabpanel'}
      %h4
        %strong Trello
      .field
        %label{for: '#title'} Título
        %input#title{type: 'text', value: "#{@requirement.id_string}"}

      %br

      .field
        %label{for: '#description'} Descripción
        %textarea#description= strip_tags(@requirement.description.html_safe)

      %a.btn.btn-info#btn-trello Crear tarea trello
      %br
      %br
      %section
        - tasks = Task.where(requirement_id: @requirement).pluck(:trello_task_id).reverse!
        - tasks.each do |t|
          %article{id: "card-list-#{t}"}
          :javascript
            var a = Trello.cards.get("#{ t }", function(card){
              $('article#card-list-'+"#{t}").append(
                "<div class='card'>"+
                  "<div class='card-block'>"+
                    "<h4 class='card-title'>"+ card.name +"</h4>"+
                    "<p class='card-text'>"+ card.desc +"</p>"+
                  "</div>"+
                "</div><br/>");
            });
      %br
      %br
      %br
  #history-tab.tab-pane{role: 'tabpanel'}
    %h4
      %strong Historial
    - history = Log.where(project_id: @project, requirement_id: @requirement)
    - history.each do |his|
      %p
        = his.operation
    %br
    %br
    %br
-unless @project.trello_board_id.blank? || @project.trello_list_id.blank?
  :javascript
    var cardId;
    var creationSuccess = function(data) {
      cardId = data.id;
      console.log('Tarjeta creada con éxito');
      $.ajax({
        url: "#{request.path}?task_id="+cardId,
        type: "GET"
      });
    };

    function getNewCard(){
      var myList = "#{@project.trello_list_id}";
      return {  name: $('#title').val(),
                desc: $('#description').val(),
                idList: myList,
                pos: 'top'
              };
    }

    $("#btn-trello").click(function(e){
      e.preventDefault();
      card = getNewCard();
      console.log(card);
      Trello.post('/cards/', card, creationSuccess);
    });

:javascript
  var active;

  $('#myTab a').click(function(){
    $(this).tab('show');
    active = $(this).context.id;
  });

  $(document.getElementById(active)).tab('show');
