= simple_form_for([@project, @requirement]) do |f|
  .form-group
    = f.input :description,  as: :ckeditor, input_html: { ckeditor: { toolbar: 'simple' } }, label: 'Descripcion',
              required: true, error: 'La descripción del requisito es obligatoria.',
              error_html: { class: 'error' }
  .form-group
    = f.input :status, label: 'Estado',
              collection: [%w(Pendiente pending), ['En proceso', 'in_process'], %w(Verificando verifying), %w(Rechazado rejected), %w(Hecho done)],
              include_blank: false, input_html: { class: 'custom-select' }
  .row
    .col-md
      .form-group
        = f.input :category, label: 'Categoría'
    .col-md
      .form-group
        = f.input :suffix, label: 'Sufijo', error: 'El sufijo de la ID es obligatorio.', error_html: { class: 'error' }
  .row
    .col-md
      = f.input :level, label: 'Nivel', collection: [%w(Alto high), %w(Medio medium), %w(Bajo low)],
                include_blank: false, input_html: { class: 'custom-select' }
    .col-md
      = f.input :satisfies_id, label: 'Satisface', collection: Requirement.where(project: @project),
                label_method: :id_string, input_html: { class: 'custom-select' }
  .form-group
  .actions
    = f.button :submit, 'Guardar', class: 'btn btn-primary w-100'
