%thead
  %tr
    %th= sort_link(@q, :id, 'ID')
    %th= sort_link(@q, :description, 'Descripción')
    %th= sort_link(@q, :status, 'Estado')
    %th= sort_link(@q, :category, 'Categoría')
    %th= sort_link(@q, :level, 'Nivel')
    %th
    %th
%tbody
  = search_form_for [@project, @q], html:{class: 'form-inline full-width'} do |f|
    %tr
      %td= f.search_field :id_cont, class: 'form-control', placeholder: 'Buscar ...'
      %td= f.search_field :description_cont, class: 'form-control', placeholder: 'Buscar ...'
      %td= f.search_field :status_cont, class: 'form-control', placeholder: 'Buscar ...'
      %td= f.search_field :category_cont, class: 'form-control', placeholder: 'Buscar ...'
      %td= f.search_field :level_cont, class: 'form-control', placeholder: 'Buscar ...'
      %td{colspan: 2}
        = button_tag type: 'submit', class: 'btn btn-secondary', id: 'submit-search' do
          %span.fa.fa-search
  - @requirements.each do |requirement|
    %tr{id: requirement.id_string, 'data-href': select_project_requirements_path(@project, requirement) }
      %td=link_to requirement.id_string, select_project_requirements_path(@project, requirement, format: :js,  scroll: false), remote: true
      %td= requirement.description.html_safe
      %td= t(requirement.status)
      %td= requirement.category
      %td= t(requirement.level)
      %td= link_to 'Editar', edit_project_requirement_path(@project, requirement)
      %td= link_to 'Borrar', project_requirement_path(@project, requirement), method: :delete
