%h1 Listing requirements

%table
  %thead
    %tr
      %th Suffix
      %th Description
      %th Status
      %th End date
      %th Category
      %th Level
      %th
      %th
      %th

  %tbody
    - @requirements.each do |requirement|
      %tr
        %td= requirement.id_string
        %td= requirement.description.html_safe
        %td= requirement.status
        %td= requirement.end_date
        %td= requirement.category
        %td= requirement.level
        /%td= link_to 'Show', project_requirement_path(@project, requirement)
        %td= link_to 'Edit', edit_project_requirement_path(@project, requirement)
        %td= link_to 'Destroy', project_requirement_path(@project, requirement), method: :delete


%br

= link_to 'New Requirement', new_project_requirement_path
