%h1 Listing requirements

%table
  %thead
    %tr
      %th Description
      %th Sufix
      %th Status
      %th Category
      %th End date
      %th
      %th
      %th

  %tbody
    - @requirements.each do |requirement|
      %tr
        %td= requirement.description
        %td= requirement.sufix
        %td= requirement.status
        %td= requirement.category
        %td= requirement.end_date
        %td= link_to 'Show', requirement
        %td= link_to 'Edit', edit_requirement_path(requirement)
        %td= link_to 'Destroy', requirement, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Requirement', new_requirement_path
