#wrapper
  #header
    = render 'header'

  #left-side-menu
    / https://stackoverflow.com/questions/9253269/conditionally-closing-a-tag-in-haml
    /    .container
    - 12.times do
      - @requirements.group_by(&:category).each do |category, reqs|
        %h2= category
        %ul
          - reqs.each do |req|
            %li= req.id_string
  #requirements

    %table.table.table-responsive.table-bordered
      %thead
        %tr
          %th ID
          %th Descripcion
          %th Estado
          %th Categoría
          %th Nivel
          %th
          %th

      %tbody
        - @requirements.each do |requirement|
          %tr
            %td= requirement.id_string
            %td= requirement.description.html_safe
            %td= t(requirement.status)
            %td= requirement.category
            %td= t(requirement.level)
            /%td= link_to 'Show', project_requirement_path(@project, requirement)
            %td= link_to 'Editar', edit_project_requirement_path(@project, requirement)
            %td= link_to 'Borrar', project_requirement_path(@project, requirement), method: :delete

    %br
    = link_to 'Nuevo Requisito', new_project_requirement_path

  #right-side-menu
    aaa