#wrapper
  #header
    = render 'header'

  %section#left-side-menu
    / https://stackoverflow.com/questions/9253269/conditionally-closing-a-tag-in-haml
    .container
      - if can? :create, @requirement
        = link_to 'Nuevo Requisito', new_modal_project_requirements_path(@project), remote: true, class: 'btn btn-secondary'
        %br
        %br
      - all_reqs = Requirement.where(project_id: params[:project_id])
      - all_reqs.group_by(&:category).each do |category, reqs|
        %h4= category.blank? ? 'Sin categoría' : category
        %ul.root
          - reqs.each do |req|
            %li
              =link_to req.id_string, select_project_requirements_path(@project, req, scroll: true), remote: true
        %br
  %section#requirements
    = render 'layouts/alerts'

    .table-responsive
      %table.table.table-bordered
        %thead
          %tr
            %th= sort_link(@q, :id, 'ID')
            %th= sort_link(@q, :description, 'Descripción')
            %th= sort_link(@q, :status, 'Estado')
            %th= sort_link(@q, :category, 'Categoría')
            %th= sort_link(@q, :level, 'Nivel')
            - if can? :update, @requirement
              %th{colspan: 2} Acciones
          = search_form_for [@project, @q], html:{class: 'form-inline full-width'} do |f|
            %tr
              %td= f.search_field :suffix_cont, class: 'form-control', placeholder: 'Sufijo ...'
              %td= f.search_field :description_cont, class: 'form-control', placeholder: 'Descripción ...'
              %td= f.search_field :status_cont, class: 'form-control', placeholder: 'Estado ...'
              %td= f.search_field :category_cont, class: 'form-control', placeholder: 'Categoría ...'
              %td= f.search_field :level_cont, class: 'form-control', placeholder: 'Nivel ...'
              %td{colspan: 2}
                = button_tag type: 'submit', class: 'btn btn-secondary', id: 'submit-search' do
                  %span.fa.fa-search
        %tbody#table-requirements
          = render 'requirements'

  %section#right-side-menu

#requirements-modal-form

-unless @project.trello_board_id.blank? || @project.trello_list_id.blank?
  :javascript
      var authenticationSuccess = function() { console.log('Autenticación correcta'); };
      var authenticationFailure = function() { console.log('Error de autenticación'); };
      Trello.authorize({
          type: 'popup',
          name: 'üReq - TFG',
          scope: {
              read: 'true',
              write: 'true' },
          expiration: 'never',
          success: authenticationSuccess,
          error: authenticationFailure
      });
/ https://stackoverflow.com/questions/25125076/how-to-make-tr-clickable-over-link-to
:javascript
  $(document).on("click", "#table-requirements tr", function() {
    var link  = $(this).data("href");
    $.ajax({
      url: link,
      type: "GET"
    });
  });