#wrapper
  #header
    = render 'header'

  #left-side-menu
    / https://stackoverflow.com/questions/9253269/conditionally-closing-a-tag-in-haml
    .container
      - @requirements.group_by(&:category).each do |category, reqs|
        %h2= category.blank? ? 'Sin categoría' : category
        %ul
          - reqs.each do |req|
            %li
              =link_to req.id_string, select_project_requirements_path(@project, req), remote: true

  #requirements
    = render 'layouts/alerts'

    %table.table.table-responsive.table-bordered#table-requirements
      = render 'requirements'

    %br
    = link_to 'Nuevo Requisito', new_project_requirement_path

  #right-side-menu
    = @comments


/ https://stackoverflow.com/questions/25125076/how-to-make-tr-clickable-over-link-to
:javascript
  $(document).on("click", "#table-requirements tr", function() {
    var link  = $(this).data("href");
    $.ajax({
      url: link,
      type: "GET"
    });
  });