%p#notice= notice

%p
  %b Description:
  = @requirement.description
%p
  %b Sufix:
  = @requirement.sufix
%p
  %b Status:
  = @requirement.status
%p
  %b Category:
  = @requirement.category
%p
  %b End date:
  = @requirement.end_date

= link_to 'Edit', edit_project_requirement_path(@project, @requirement)
\|
= link_to 'Back', project_requirements_path(@project)
