%p#notice= notice

%p
  %b Suffix:
  = @requirement.suffix
%p
  %b Description:
  = @requirement.description
%p
  %b Status:
  = @requirement.status
%p
  %b End date:
  = @requirement.end_date
%p
  %b Category:
  = @requirement.category
%p
  %b Level:
  = @requirement.level

= link_to 'Edit', edit_requirement_path(@requirement)
\|
= link_to 'Back', requirements_path
