= simple_form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "Error al guardar proyecto. Revise los campos"
  .form-group
    = f.input :name, label: 'Nombre del proyeto', required: true, error: 'Username is mandatory, please specify one'
  .form-group
    = f.input :client
  .form-group
    = f.input :status, collection: ['Planificando', 'En proceso', 'En espera', 'Verificando', 'Archivado'], selected: 'Planificando'
  .form-group
    = f.input :picture, as: :file

  = f.button :submit
