.modal.fade#modal_show
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h5.modal-title= @project.name
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×
      .modal-body
        %p
          %strong Nombre:
          = @project.name
        %p
          %strong Cliente:
          = @project.client
        %p
          %strong Fecha de creación:
          = @project.created_at.to_date
        %p
          %strong Última modificación:
          = @project.updated_at.strftime('%Y-%m-%d a las %H:%M')
        %p
          %strong Estado:
          = @project.status_string

      .modal-footer
        = link_to 'Ver requisitos', project_requirements_path(@project), class: 'btn btn-info'
        = link_to 'Editar', edit_project_path(@project), class: 'btn btn-primary'
        - unless @project.status == 'archived'
          = link_to 'Archivar', archive_projects_path(@project), method: :post, data: { confirm: '¿Archivar proyecto?' }, class: 'btn btn-danger'