-unless alert.nil?
  %p= alert
-unless notice.nil?
  %p= notice

=render 'sidebar'
#projects
  %h1 Listing projects
  %table.table.table-bordered.table-responsive
    %thead
      %tr
        %th Name
        %th Client
        %th End date
        %th Status
        %th
        %th
        %th

    %tbody
      - @projects.each do |project|
        %tr
          %td= project.name
          %td= project.client
          %td= project.end_date
          %td= project.status
          %td= link_to 'Ver', show_modal_projects_path(project), remote: true
          %td= link_to 'Edit', edit_project_path(project)
          %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
    %br
#show

