%h1 Listing projects

%table
  %thead
    %tr
      %th Name
      %th Client
      %th Start date
      %th Finish date
      %th Status
      %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.client
        %td= project.start_date
        %td= project.finish_date
        %td= project.status
        %td= link_to 'Show', project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to 'Requirements', project_requirements_path(project)

%br

= link_to 'New Project', new_project_path
