=render 'sidebar'
#projects
  -unless alert.nil?
    .alert.alert-danger.alert-dismissible.fade.show{:role => "alert"}
      %button.close{'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button'}
        %span{'aria-hidden': 'true'} ×
      %strong= icon('times')
      =alert
  -unless notice.nil?
    .alert.alert-success.alert-dismissible.fade.show{:role => "alert"}
      %button.close{'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button'}
        %span{'aria-hidden': 'true'} ×
      %strong= icon('check')
      =notice
  -if action_name == 'index_archived'
    %h1.text-center Projectos archivados
  - else
    %h1.text-center Projectos
  %br
  %br
  %br
  .row
    - @projects.each do |project|
      .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.project
        .card
          .card-block
            =link_to show_modal_projects_path(project), remote: true do
              -if project.picture.blank?
                = image_tag(image_url('project-picture-default.png'), class: 'picture')
              -else
                = image_tag(project.picture.url(:medium), class: 'picture')
            %h3.text-center= project.name
#show

