= render 'sidebar'

#projects
  %h1.text-center Nuevo Proyecto
  %br
  .jumbotron
    = simple_form_for @project do |f|
      - if @project.errors.any?
        .alert.alert-danger.alert-dismissible Error al guardar proyecto. Revise los campos

      .form-group
        = f.input :name, label: 'Nombre del proyeto', required: true, error: 'El nombre del proyecto es obligatorio.', error_html: { class: 'error' }
      .form-group
        = f.input :client, label: 'Cliente'
      .form-group
        = f.input :status, label: 'Estado', collection: [%w(Planificando planning), ['En proceso', 'in_proccess'], ['En espera', 'on_hold'], %w(Verificando verifying), %w(Archivado archived) ], selected: 'Planificando'
      .form-group
        %label Foto de portada
        = f.input :picture, as: :file, label: false
      %br
      %br
      = f.button :submit, 'Crear proyecto', class: 'btn btn-primary'