%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Client:
  = @project.client
%p
  %b Start date:
  = @project.start_date
%p
  %b Finish date:
  = @project.finish_date
%p
  %b Status:
  = @project.status

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
