- @keywords.each do |kw|
  .row{id: "keyword-#{kw.key}"}
    .col-3
      = kw.key
    .col-7
      = kw.definition
    .col-1
      = link_to edit_project_keyword_path(@project, kw), remote: true do
        = icon('pencil')
    .col-1
      = link_to project_keyword_path(@project, kw), method: :delete, data: { confirm: '¿Estás seguro?' } do
        = icon('trash')
