=render 'sidebar'
#projects.logs
  =render 'layouts/alerts'
  %h1.text-center Registro de acciones
  %br
  %br
  .custom-table
    .table-header
      .row
        .col-4= sort_link(@q, :operation, 'Operacion')
        .col-2= sort_link(@q, :user, 'Usuario')
        .col-2= sort_link(@q, :project, 'Proyecto')
        .col-2= sort_link(@q, :requirement, 'Requisito')
        .col-2= sort_link(@q, :created_at, 'Fecha')
    .table-body
      - @logs.each do |log|
        .row
          .col-4= log.operation
          .col-2= log.user.short_name
          .col-2= log.project.name
          .col-2= log.requirement.id_string if log.requirement
          .col-2= log.created_at.strftime('%Y-%m-%d (%H:%M)')