<!DOCTYPE html>
<html>
  <head>
    <title>uReq</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://api.trello.com/1/client.js?key=04f0b6701de85afeef596b3407252162"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
